@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Sora:wght@100..800&display=swap');

:root {
  --color-dark: #060606;
  --color-light: #fff;
  --color-fade: #FFDE5A;
  --color-rating: #E59E2C;
  --color-other: #11182B;
  --default-line-height: 1.5;
  --default-font-weight: normal;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px #060606;
  background: #060606;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFE942;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FFE942ee;
}

body {
  scroll-behavior: smooth !important;
  overflow-x: hidden !important;
}

.m-plus-rounded-1c-thin {
  font-family: "M PLUS Rounded 1c", sans-serif !important;
  font-weight: 100 !important;
  font-style: normal !important;
}

.m-plus-rounded-1c-semithin {
  font-family: "M PLUS Rounded 1c", sans-serif !important;
  font-weight: 200 !important;
  font-style: normal !important;
}

.m-plus-rounded-1c-semilight {
  font-family: "M PLUS Rounded 1c", sans-serif !important;
  font-weight: 250 !important;
  font-style: normal !important;
}

.m-plus-rounded-1c-light {
  font-family: "M PLUS Rounded 1c", sans-serif !important;
  font-weight: 300 !important;
  font-style: normal !important;
}

.m-plus-rounded-1c-regular {
  font-family: "M PLUS Rounded 1c", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.m-plus-rounded-1c-medium {
  font-family: "M PLUS Rounded 1c", sans-serif !important;
  font-weight: 500 !important;
  font-style: normal !important;
}

.m-plus-rounded-1c-semibold {
  font-family: "M PLUS Rounded 1c", sans-serif !important;
  font-weight: 600 !important;
  font-style: normal !important;
}

.m-plus-rounded-1c-bold {
  font-family: "M PLUS Rounded 1c", sans-serif !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

.m-plus-rounded-1c-extrabold {
  font-family: "M PLUS Rounded 1c", sans-serif !important;
  font-weight: 800 !important;
  font-style: normal !important;
}

.m-plus-rounded-1c-black {
  font-family: "M PLUS Rounded 1c", sans-serif !important;
  font-weight: 900 !important;
  font-style: normal !important;
}


.sora-semithin {
  font-family: "Sora", sans-serif !important;
  font-weight: 200 !important;
  font-style: normal;
}

.sora-thin {
  font-family: "Sora", sans-serif !important;
  font-weight: 100 !important;
  font-style: normal;
}

.sora-semilight {
  font-family: "Sora", sans-serif !important;
  font-weight: 250 !important;
  font-style: normal;
}

.sora-light {
  font-family: "Sora", sans-serif !important;
  font-weight: 300 !important;
  font-style: normal;
}

.sora-regular {
  font-family: "Sora", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal;
}

.sora-medium {
  font-family: "Sora", sans-serif !important;
  font-weight: 500 !important;
  font-style: normal;
}

.sora-semibold {
  font-family: "Sora", sans-serif !important;
  font-weight: 600 !important;
  font-style: normal;
}

.sora-bold {
  font-family: "Sora", sans-serif !important;
  font-weight: 700 !important;
  font-style: normal;
}

.sora-extrabold {
  font-family: "Sora", sans-serif !important;
  font-weight: 800 !important;
  font-style: normal;
}

.sora-black {
  font-family: "Sora", sans-serif !important;
  font-weight: 900 !important;
  font-style: normal;
}

.highlighted-chip {
  display: inline-block;
  position: relative;
  padding: 3px 20px;
  background: var(--color-dark);
  border-radius: 5px;
  border: 1px solid var(--color-light);
  color: var(--color-light);
  font-size: 90%;
  text-align: center;
  opacity: 0.9;
  z-index: 1;
  width: fit-content;
  font-family: "Sora", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal;
}

.highlighted-chip::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background-image: url(../../public/assets/images/RealSales-abstracts/highlighter-glow.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.home-bg {
  background-image: url(../../public/assets/images/RealSales-backgrounds/bg-3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg_image {

  background-image: url(../../public/assets/images/RealSales-backgrounds/bg-9.png);
  /* background-image: url(../../public/assets/images/RealSales-backgrounds/bg-5.png); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.coustomPricingSwitch span.MuiButtonBase-root.MuiSwitch-switchBase.MuiSwitch-colorPrimary.PrivateSwitchBase-root.MuiSwitch-switchBase.MuiSwitch-colorPrimary {
  top: 15% !important;
  left: 10% !important;
  padding: 0 !important;
}

.coustomPricingSwitch span.MuiButtonBase-root.MuiSwitch-switchBase.MuiSwitch-colorPrimary.Mui-checked.PrivateSwitchBase-root.MuiSwitch-switchBase.MuiSwitch-colorPrimary.Mui-checked.Mui-checked {
  top: 15% !important;
  right: 15% !important;
  padding: 0 !important;
}

.coustomPricingSwitch span.MuiSwitch-track {
  border-radius: 100px !important;
  border: 1px solid #00000026 !important;
  background: #FFDE5A66 !important;
}

.coustomPricingSwitch span.MuiSwitch-thumb {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #060606;
  box-shadow: 0px 0px 10px 0px #0000004D;
}

/* index.css or App.css */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.coustomChatSwitch span.MuiButtonBase-root.MuiSwitch-switchBase.MuiSwitch-colorPrimary.PrivateSwitchBase-root.MuiSwitch-switchBase.MuiSwitch-colorPrimary {
  top: 8% !important;
  left: 5% !important;
  padding: 0 !important;
}

.coustomChatSwitch span.MuiButtonBase-root.MuiSwitch-switchBase.MuiSwitch-colorPrimary.Mui-checked.PrivateSwitchBase-root.MuiSwitch-switchBase.MuiSwitch-colorPrimary.Mui-checked.Mui-checked {
  top: 8% !important;
  right: 18% !important;
  padding: 0 !important;
}

.coustomChatSwitch span.MuiSwitch-track {
  border-radius: 100px !important;
  border: 1px solid #060606 !important;
  /* background: #FFDE5A !important; */
  opacity: 100% !important;
}

.coustomChatSwitch span.MuiSwitch-thumb {
  width: 29px;
  height: 29px;
  border-radius: 100%;
  background-color: #060606;
  box-shadow: 0px 0px 10px 0px #0000004D;
}

.rating .MuiSlider-thumb {
  color: #FFDE5A !important;
  width: 20px !important;
  height: 20px !important;
}

.rating .MuiSlider-thumb::after {
  border: 1px solid #FFDE5A;
  width: 30px !important;
  height: 30px !important;
}

.rating .MuiRating-icon {
  color: rgba(255, 255, 255, 0.834);
}

.hexagon-with-shadow {
  position: relative;

  background-color: transparent;
  /* Tailwind gray-100 */
  z-index: 1;
}

.hexagon-with-shadow::before {
  position: absolute;
  content: "";
  inset: 0;
  z-index: -1;
  background: inherit;
  clip-path: inherit;
  width: 100%;
  height: 100%;
  background-color: #f3f4f6;
  clip-path: polygon(22% 6.7%,
      78% 6.7%,
      100% 50%,
      78% 93.3%,
      22% 93.3%,
      0% 50%);
  rotate: 90deg;
}

.hexagon-with-shadow::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 100px 0px #0000007c;
  z-index: -2;
}

/* Custom yellow underline for navigation */
.nav-underline-yellow {
  text-decoration: underline;
  text-decoration-color: #FFDE5A;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

.group:hover .group-hover-bg-yellow-opacity {
  background-color: rgba(255, 222, 90, 0.3);
}
